html, body {
	font-family: Verdana, Arial, sans-serif;
	font-size: 100%;
	margin: 0;
	padding: 0;
	color: #555555;
	z-index: 1;
	color: #444;
	background: #f0f0f0;
}
.center {
	margin-left:350;
	width:800px;
}
.footer {
	position: absolute;
	margin-left: 300px;
	z-index: -10;
	margin-top: 20px;
}
.extra_settings {
	margin-left: 25px;
	display: none;	
}
div.color label {
	background: #f0f0f0;
}
div.header {
	font-size: 60%;
}
div.Intro {
	margin-top: 15px;
	margin-left:35px;
	margin-bottom: 15px;
	margin-right: 35px;
}
div.form {
	margin-top: 15px;
	margin-left: 35px;
	margin-bottom: 15px;
}
span.error {
	color: red;
}

.results {
	margin-top:180px;
}
/*tab configuration*/
ul.tabs {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px; /*--Set height of tabs--*/
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	width: 100%;
}
ul.tabs li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px; /*--Subtract 1px from the height of the unordered list--*/
	line-height: 31px; /*--Vertically aligns the text within the tab--*/
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px; /*--Pull the list item down 1px--*/
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}
ul.tabs li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff; /*--Gives the bevel look with a 1px white border inside the list item--*/
	outline: none;
}
ul.tabs li a:hover {
	background: #ccc;
}
html ul.tabs li.active, html ul.tabs li.active a:hover  { /*--Makes sure that the active tab does not listen to the hover properties--*/
	background: #fff;
	border-bottom: 1px solid #fff; /*--Makes the active tab look like it's connected with its content--*/
}
/*tab content*/
.tab_container {
	border: 1px solid #999;
	border-top: none;
	/*overflow: hidden;*/
	clear: both;
	float: left; width: 100%;
	background: #fff;
	height: 100%;
}
.tab_content {
	/*padding: 100px;*/
	font-size: 1.2em;
}
/*end of tab content*/
/*end of tab configuration*/

/*bugs configuration*/
.label_center {
	text-align:center;
	left:10px;
}
.label_bugs {
	background-color: #00008B;	
	color: #FFFFFF;
}
